#nav-bar{
    background-color: red;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
}

#product-name{
    padding-left: 15px;
    font-size: 35px;
    font-weight: 600;
    font-style: italic;
}

#header-img{
    display: block;
    width: 65px;
    height: auto;
    justify-content: start;
}
.nav-link{
    position: relative;
    font-size: 19px;
    text-decoration: none;
    color: black;
    top: 4.5vh;
    margin-right: 10px;
    
}

main{
    position: relative;
    top: 300px;
}


